[submodule "bundle/mustache"]
	path = bundle/mustache
	url = git://github.com/mustache/vim-mode.git
[submodule "snipmate.vim"]
	path = snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
[submodule "rainbow_parentheses.vim"]
	path = rainbow_parentheses.vim
	url = https://github.com/kien/rainbow_parentheses.vim.git
